/* FONT STYLES */
/* font-family: 'Fredoka One', cursive;
font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

/* HTML5 RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    /* font-size:100%; */
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ======================== MY STYLES ========================= */

html, body {
  font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 650px;
    margin: 0 auto;
}
.page-header h2{
    margin-top: 0;
}
table tr td:last-child a{
    margin-right: 15px;
}

/* ======================= NAVBAR STYLES ====================== */

.navbar.navbar-default {
  margin-bottom: 0;
  background-color: #acfe71;
  border: 0;
  border-radius: 0;
  /* border-bottom: 2px solid #1fa0a0; */
}
#primary-nav .navbar-nav>.active>a {
  background-color: #acfe71;
}
.inner-nav {
  width: 90%;
  margin-top: 5px;
  font-family: 'Fredoka One', cursive;
  font-size: 1.2em;
}
#primary-nav .navbar-nav>li>a {
  color: #666666;
  letter-spacing: 1px;
}
#right-nav li {
  margin: 0 5px;
}
#right-nav .btn {
  background-color: #1fa0a0;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.nav-logo {
  /* width: 50px; */
  width: 140px;
  margin-top: 1px;
  margin-right: 30px;
}
#nav-form input {
  width: 150px;
}
#nav-form {
  font-family: 'Lato', sans-serif;
}
#nav-form button {
  padding: 3px 10px;
  font-weight: bold;
  margin-left: 8px;
  background-color: #1fa0a0;
}

/* ===================== HEADER STYLES ===================== */
#jmain {
    background-color: #acfe71;
}
#jmain .jmain-inner {
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
#jsection-img1, #jsection-img2, #jsection-img3 {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#jsection1, #jsection2, #jsection3 {
  border-top: 10px solid #1fa0a0;
  height: 70%;
}
#jsection-img1 {
  background-image: url(../img/1.png);
}
#jsection1,
#jsection2,
#jsection3 {
  background-color: #1fa0a0;
}
#jsection-img2 {
  background-image: url(../img/2.png);
}
#jsection-img3 {
  background-image: url(../img/test3.png);
}
#jsection1 .container,
#jsection2 .container,
#jsection3 .container {
  vertical-align: middle;
  display: table-cell;
  padding-bottom: 5%;
  color: #e5e5e5;
  padding: 0 50px;
}
.feature-section .btn {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: #188080;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #188080;
  padding: 8px 13px;
  border-radius: 9px;
  background-color: #acfe71;
  transition: all 0.5s;
}
.feature-section .btn:hover {
  color: #666666;
  border: solid #666666;
}
.feature-section h1 {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  font-size: 280%;
  /* color: #cccccc; */
}
.feature-section h3 {
  font-family: 'Lato', sans-serif;
}
.mright70 {
  margin-right: 70px;
  line-height: 80px;
}
.mleft50 {
  margin-left: 50px;
  line-height: 80px;
}

/* ======================= MODAL STYLES ======================= */

#modal-header {
  background-color: #acfe71;
  text-align: center;
  border-bottom: 4px solid #1fa0a0;
  border-radius: 8px 8px 0 0;
}
#modal-logo {
  width: 200px;
}
#modal-body .btn {
  background-color: #1fa0a0;
  border: 0;
  font-family: 'Lato', sans-serif;
  margin: 15px auto;
}
#modal-body .btn-grey {
  background-color: #666666;
}
#login-overlay .modal-content {
  border-radius: 8px;
}

/* =================== account page styles ===================*/
#account-page {
  /* height: 100%; */
  width: 100%;
  padding: 50px 30px;
}
.vertical-menu {
  width: 100%
  font-family: 'Lato', sans-serif;
}
.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: #666666; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  padding-left: 30px;
}
.vertical-menu a:hover {
  background-color: #ccc;
  border-left: 10px solid #1fa0a0;
  text-decoration: none;
  color: #1fa0a0;
}
.vertical-menu a.active {
  background-color: #acfe71;
  color: #666666;
  font-weight: bold;
  border-left: 10px solid #1fa0a0;
  font-size: 105%;
}
#account-img{
  width: 60%;
  margin: 0 auto;
  padding: 7px;
  border: 1px solid #1fa0a0;
}
#account-page .card-header {
  margin: 0;
  padding: 0;
}
#account-page .well {
  padding: 0;
  margin: 0;
  /* border: 1px solid #666666; */
}
#account-page .card-header {
  padding: 20px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 110%;
}
#account-page .logo-font {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  color: #474747;
}
#account-page .color-blue {
  color: #23bcbc;
}
#account-page .balance-header {
  font-size: 130%;
  word-spacing: 5px;
  margin-top: 30px;
}
#account-page .account-balance{
  font-size: 200%;
  font-family: 'Fredoka One', cursive;
  color: #474747;
}
.card-header h2 {
  font-family: 'Montserrat', sans-serif;
}
.content .sub-content{
  padding: 0 20px;
}
#account-page .btn {
  background-color: #acfe71;
  padding: 3px 0;
  letter-spacing: 1px;
  font-weight: bold;
  color: #474747;
}
#account-page .btn:hover {
  background-color: #1fa0a0;
  color: #fff;
}
#account-page .text-bold {
  font-weight: bold;
}
.borderless td, .borderless th {
    border: none !important;
}
#account-page .marginb-30 {
  margin-bottom: 30px;
}

/* ======================== footer styles ======================= */
footer {
  font-family: 'Lato', sans-serif;
	height: auto;
	font-size: 15px;
  background-color: #666666;
  padding: 40px 0 30px 0;
  color: #e5e5e5;
  border-top: 3px solid #1fa0a0;
}
#footer-credits {
	height: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
#footer-credits p {
	margin: 0;
}
#logo-footer {
	width: 150px;
	margin: 0 auto;
}
.footer .footer-button {
  	margin-top: 15px;
    background-color: #1fa0a0;
    border: 0;
    font-family: 'Lato', sans-serif;
}
footer a {
	color: white;
	text-decoration: none;
}
footer a:hover {
	color: #6cb6f5;
}
footer li {
	color: white;
	text-decoration: none;
  list-style-type: none;
}
footer h4 {
  border-bottom: 2px solid #acfe71;
  padding-bottom: 10px;
  margin-right: 40px;
  line-height: 5px;
}
.copyright {
  background-color: #515151;
  text-align: center;
  line-height: 2;
  color: #b2b2b2;
}
.copyright p {
    margin: 0 !important;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.marginr-30 {
  margin-right: 30px;
}
.copyright .logo-font {
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  letter-spacing: 1px;
  color: #acfe71;
}
.copyright .color-blue {
  color: #23bcbc;
}
